Debug/
unit_test/*
!unit_test/Application
unit_test/Application/*
!unit_test/Application/Core
unit_test/Application/Core/Startup/*
unit_test/Application/Core/Src/*
!unit_test/Application/Core/Src/main.c
!unit_test/Application/Core/Src/program.c
unit_test/Application/Core/Inc/*
!unit_test/Application/Core/Inc/main.h
!unit_test/Application/Core/Inc/program.h

!unit_test/Application/Blink.ioc
!unit_test/Application/STM32F103C6TX_FLASH.ld



!unit_test/bootloader
unit_test/bootloader/*
!unit_test/bootloader/Core
unit_test/bootloader/Core/Startup/*
unit_test/bootloader/Core/Src/*
!unit_test/bootloader/Core/Src/main.c
!unit_test/bootloader/Core/Src/program.c
unit_test/bootloader/Core/Inc/*
!unit_test/bootloader/Core/Inc/main.h
!unit_test/bootloader/Core/Inc/program.h

!unit_test/bootloader/Boot_Loader.ioc
!unit_test/bootloader/STM32F103C6TX_FLASH.ld

!unit_test/bootloader/library/*


!unit_test/usb_cdc
unit_test/usb_cdc/*
!unit_test/usb_cdc/Core
unit_test/usb_cdc/Core/Startup/*
unit_test/usb_cdc/Core/Src/*
!unit_test/usb_cdc/Core/Src/main.c
!unit_test/usb_cdc/Core/Src/program.c
unit_test/usb_cdc/Core/Inc/*
!unit_test/usb_cdc/Core/Inc/main.h
!unit_test/usb_cdc/Core/Inc/program.h

!unit_test/usb_cdc/USB_Bootloader.ioc
!unit_test/usb_cdc/STM32F103C6TX_FLASH.ld

!unit_test/usb_cdc/library/*